html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-X: hidden;
}

* {
    font-family: "Arial", "Roboto", sans-serif;
}


/*HEADER*/

header {
    background-color: #00767b;
    height: 130px;
    width: 100%;
    position: relative;
    z-index: 2;
    -moz-box-shadow: 0px 5px 10px 0px #656565;
    -webkit-box-shadow: 0px 5px 10px 0px #656565;
    -o-box-shadow: 0px 5px 10px 0px #656565;
    box-shadow: 0px 5px 10px 0px #656565;
}


/*Logo*/

#header-logo {
    position: absolute;
    left: 6.250em;
    top: 50%;
    transform: translateY(-50%);
}


/*Texte*/

header p {
    margin: 0;
    position: absolute;
    line-height: 1.875em;
    text-align: right;
    color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    right: 13.125em;
    z-index: 4;
}

#nom {
    font-size: 2em;
}


/*Bouton utilisateur*/

#user {
    width: 6.25em;
    position: absolute;
    right: 6.250em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 4;
}

#bouton-deconnexion,
#bouton-menu-user {
    width: 100px;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    height: 100px;
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    outline: none;
}

#deconnexion.open {
    width: 28.125em;
    height: 200px;
    position: absolute;
    right: 0;
    background-color: #f4f4f4;
    -moz-box-shadow: 0px 5px 10px 0px #656565;
    -webkit-box-shadow: 0px 5px 10px 0px #656565;
    -o-box-shadow: 0px 5px 10px 0px #656565;
    box-shadow: 0px 5px 10px 0px #656565;
}

#deconnexion ul {
    list-style-type: none;
    position: absolute;
    bottom: 0;
}

#deconnexion ul.hidden {
    display: none;
}

#deconnexion ul li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

#deconnexion ul li a {
    text-decoration: none;
    color: #363636;
}

#deconnexion ul li a img {
    width: 1em;
    height: 1em;
    margin-right: 1.25em;
}

.separateur {
    visibility: hidden;
    font-size: 1.5em;
}

#logo_univ_blanc {
    width: 9.375em;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
}

#logo_etab_blanc {
    width: 12.5em;
    display: block;
    margin: 0 auto;
}

.logo_region_menu {
    max-width: 5em;
    height: auto;
}

.logo_ministere_menu {
    max-width: 5em;
    height: auto;
}


/*MENU*/

#cssmenu {
    height: 100%;
    background-color: #f4f4f4;
    color: #363636;
    width: 20%;
    padding-top: 7.5em;
    overflow: auto;
    z-index: 1;
}

#menu-logo {
    display: block;
    margin: auto;
    width: 12.5em;
    padding-top: 2em;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu ul {
    margin: 0;
    overflow: auto;
}

#cssmenu ul ul {
    display: none;
    margin: 0;
    font-size: 0.8em;
}

#cssmenu > ul > li > a {
    padding: 16px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 16px;
    text-decoration: none;
    color: #363636;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#cssmenu ul > li.has-sub > a:after {
    position: absolute;
    right: 26px;
    top: 19px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    background: #363636;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#cssmenu ul > li.has-sub > a:before {
    position: absolute;
    right: 22px;
    top: 23px;
    display: block;
    width: 10px;
    height: 2px;
    background: #363636;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#cssmenu ul ul li {
    margin-left: -1.25em;
}

#cssmenu ul ul li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
    color: #363636;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#cssmenu ul ul > li.has-sub > a:after {
    top: 16px;
    right: 26px;
    background: #363636;
}

#cssmenu ul ul > li.has-sub > a:before {
    top: 20px;
    background: #363636;
}

#cssmenu li a div {
    width: 1em;
    height: 1em;
    padding-left: 2.5em;
    background-repeat: no-repeat;
}

.accueil {
    background-image: url('../icons/accueil.svg');
}

.eval {
    background-image: url('../icons/eval.svg');
}

.form {
    background-image: url('../icons/form.svg');
}

.contrat {
    background-image: url('../icons/contrat.svg');
}

.fichiers {
    background-image: url('../icons/fichiers.svg');
}

.contacts {
    background-image: url('../icons/contacts.svg');
}

div.bouton {
    height: 40px;
    width: 60px;
    position: absolute;
    cursor: pointer;
    left: 0.938em;
    top: 50%;
    transform: translateY(-50%);
}

div.bouton-landscape {
    z-index: 1000;
    height: 30px;
    width: 40px;
    position: absolute;
    cursor: pointer;
    left: 0.938em;
    top: 0.938em;
}

div.x,
div.y,
div.z {
    position: absolute;
    margin: auto;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

div.x,
div.y,
div.z {
    height: 3px;
    width: 60px;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

div.y.squize {
    width: 0;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

div.x {
    top: 0;
}

div.y {
    top: 20px;
}

div.z {
    top: 40px;
}

div.open div.x,
div.open div.z {
    top: 20px;
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out;
}

div.rotate30 {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out;
}

div.rotate150 {
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out;
}

div.rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

div.rotate135 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

div.screen {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.screen.animate {
    left: 80%;
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.screen.animate-user {
    right: 80%;
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.screen.animate-user {
    bottom: 100%;
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}


/*CONTENT*/

main {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #f4f4f4;
}


/*Bloc*/

#content {
    display: block;
    margin: 0 auto;
    padding: 0 5%;
}

.conteneur {
    margin: 1.25em 1.25em;
    -moz-box-shadow: 0px 4px 5px 2px #656565;
    -webkit-box-shadow: 0px 4px 5px 2px #656565;
    -o-box-shadow: 0px 4px 5px 2px #656565;
    box-shadow: 0px 4px 5px 2px #656565;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.conteneur_large {
    margin: 3.125em auto;
    width: 80%;
    -moz-box-shadow: 0px 4px 5px 2px #656565;
    -webkit-box-shadow: 0px 4px 5px 2px #656565;
    -o-box-shadow: 0px 4px 5px 2px #656565;
    box-shadow: 0px 4px 5px 2px #656565;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*Titre principal*/

.titre {
    padding: 0.625em 1em;
    -moz-box-shadow: 0px 4px 5px 0px #656565;
    -webkit-box-shadow: 0px 4px 5px 0px #656565;
    -o-box-shadow: 0px 4px 5px 0px #656565;
    box-shadow: 0px 4px 5px 0px #656565;
}

.titre h1 {
    margin: 0;
}


/*Contenu*/

.contenu {
    padding: 0.625em 2em;
    padding-bottom: 2em;
}


/*Titre secondaire*/

.contenu h2 {
    margin: 0;
    font-size: 1.5em;
    margin-top: 0.75em;
}


/*Texte*/

.contenu p {
    margin: 0;
    margin-top: 0.25em;
}

.info {
    font-size: 0.75em;
}


/*Formulaires*/

input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
    max-width: 100%;
    min-width: 100%;
    height: 45px;
    border: none;
    border-bottom: 1px solid #363636;
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 0.625em;
    color: #363636;
    font-size: 1em;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus,
select:focus {
    border-bottom: 1px solid #363636;
    box-shadow: 0 1px 1px 0 #363636;
    outline: none;
    transform: translateY(-3px);
    -moz-box-shadow: 3px 3px 5px 0px #363636;
    -webkit-box-shadow: 3px 3px 5px 0px #363636;
    -o-box-shadow: 3px 3px 5px 0px #363636;
    box-shadow: 3px 3px 5px 0px #363636;
}

textarea {
    height: 60px;
}

select:focus {
    border-bottom: 1px solid #363636;
    box-shadow: 0px 1px 1px 0px #363636;
}

.checkbox {
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

input[type="checkbox"]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #363636;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}

input[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #363636;
    border-bottom: 2px solid #363636;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

input[type=submit] {
    width: 50%;
    height: 45px;
    border: 1px solid #363636;
    background-color: transparent;
    font-size: 1.25em;
    color: #363636;
    margin-bottom: 50px;
    cursor: pointer;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
textarea:hover,
select:hover,
input[type=submit]:hover {
    transform: translateY(-3px);
    transition-duration: 0.4s;
    -moz-box-shadow: 3px 3px 5px 0px #363636;
    -webkit-box-shadow: 3px 3px 5px 0px #363636;
    -o-box-shadow: 3px 3px 5px 0px #363636;
    box-shadow: 3px 3px 5px 0px #363636;
}

input[type=submit]:focus {
    color: #ffffff;
    background-color: #363636;
    border: none;
    outline: none;
}

.btn {
    text-align: center;
}

h1 {
    margin-left: 1.25em;
}

#breadcrumbs {
    margin-left: 1.25em;
}

main a {
    text-decoration: none;
    color: #363636;
}

main a:hover {
    font-weight: bold;
}


/*FOOTER*/

footer {
    height: 90px;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 2;
    background-color: #f4f4f4;
    -moz-box-shadow: 0px -5px 10px 0px #656565;
    -webkit-box-shadow: 0px -5px 10px 0px #656565;
    -o-box-shadow: 0px -5px 10px 0px #656565;
    box-shadow: 0px -5px 10px 0px #656565;
}

footer a {
    text-decoration: none;
    color: #363636;
}

@media screen and (min-width:1272px) {
    .bouton {
        display: none;
    }
    #bouton-menu-user {
        display: none;
    }
    #deconnexion-mobile {
        display: none;
    }
    nav {
        -moz-box-shadow: 3px 0px 10px 0px #656565;
        -webkit-box-shadow: 3px 0px 10px 0px #656565;
        -o-box-shadow: 3px 0px 10px 0px #656565;
        box-shadow: 3px 0px 10px 0px #656565;
    }
    #menu-logo {
        display: none;
    }
    #menu-landscape {
        display: none;
    }
    /*CONTENT*/
    #cssmenu {
        top: 130px;
    }
    /*Bloc*/
    .conteneur {
        width: 45%;
        height: 460px;
        float: left;
    }
    .contenu {
        overflow: auto;
    }
    /*FOOTER*/
    /*Liens*/
    footer ul {
        list-style-type: none;
        position: absolute;
        right: 18em;
        top: 50%;
        transform: translateY(-75%);
    }
    footer li {
        font-size: 1.250em;
        text-align: right;
    }
    /*Logos*/
    footer img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #logo_univ {
        max-width: 9.375em;
        left: 6.250em;
        height: auto;
    }
    #logo_etab {
        left: 18.750em;
        max-width: 13.750em;
        height: auto;
    }
    #logo_region {
        right: 11.875em;
        max-width: 5em;
        height: auto;
    }
    #logo_ministere {
        right: 6.250em;
        max-width: 5em;
        height: auto;
    }
}

@media screen and (min-width:1000px) and (max-width:1271px) {
    .bouton {
        display: none;
    }
    #bouton-menu-user {
        display: none;
    }
    #deconnexion-mobile {
        display: none;
    }
    nav {
        -moz-box-shadow: 3px 0px 10px 0px #656565;
        -webkit-box-shadow: 3px 0px 10px 0px #656565;
        -o-box-shadow: 3px 0px 10px 0px #656565;
        box-shadow: 3px 0px 10px 0px #656565;
    }
    #menu-logo {
        display: none;
    }
    #menu-landscape {
        display: none;
    }
    /*CONTENT*/
    #cssmenu {
        top: 130px;
        padding-top: 5em;
    }
    /*Bloc*/
    .conteneur {
        margin: 1.5em auto;
        width: 80%;
    }
    #cssmenu ul {
        margin-left: 0;
        padding-left: 5px;
    }
    /*FOOTER*/
    /*Liens*/
    footer ul {
        list-style-type: none;
        position: absolute;
        right: 14em;
        top: 50%;
        transform: translateY(-75%);
    }
    footer li {
        font-size: 1.250em;
        text-align: right;
    }
    /*Logos*/
    footer img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #logo_univ {
        max-width: 9.375em;
        left: 1.875em;
        height: auto;
    }
    #logo_etab {
        left: 12.50em;
        max-width: 13.750em;
        height: auto;
    }
    #logo_region {
        right: 8.125em;
        max-width: 5em;
        height: auto;
    }
    #logo_ministere {
        right: 1.875em;
        max-width: 5em;
        height: auto;
    }
}

@media screen and (min-width:401px) and (max-width:999px) {
    #header-logo {
        display: none;
    }
    header p {
        display: none;
    }
    #bouton-menu-user {
        width: 80px;
        height: 80px;
        right: 30px;
    }
    #bouton-deconnexion {
        display: none;
    }
    .bouton {
        left: 1.875em;
    }
    #user {
        width: 5em;
        right: 1.875em;
    }
    #cssmenu {
        background-color: #363636;
        height: 100%;
        width: 80%;
        padding-top: 0;
        -moz-box-shadow: inset -5px 0px 15px 0px #000000;
        -webkit-box-shadow: inset -5px 0px 15px 0px #000000;
        -o-box-shadow: inset -5px 0px 15px 0px #000000;
        box-shadow: inset -5px 0px 15px 0px #000000;
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        color: #ffffff;
    }
    #cssmenu ul > li.has-sub > a:after {
        background: #ffffff;
    }
    #cssmenu ul > li.has-sub > a:before {
        background: #ffffff;
    }
    .accueil {
        background-image: url('../icons/accueil_blanc.svg');
    }
    .eval {
        background-image: url('../icons/eval_blanc.svg');
    }
    .form {
        background-image: url('../icons/form_blanc.svg');
    }
    .contrat {
        background-image: url('../icons/contrat_blanc.svg');
    }
    .fichiers {
        background-image: url('../icons/fichiers_blanc.svg');
    }
    .contacts {
        background-image: url('../icons/contacts_blanc.svg');
    }
    #breadcrumbs {
        display: none;
    }
    /*CONTENT*/
    main {
        width: 100%;
        z-index: 2;
    }
    /*Bloc*/
    .conteneur {
        margin: 1.5em auto;
        width: 80%;
        min-height: 50%;
    }
    footer {
        display: none;
    }
}

@media screen and (max-width:400px) {
    #header-logo {
        display: none;
    }
    header p {
        display: none;
    }
    #menu-landscape {
        display: none;
    }
    #bouton-deconnexion {
        display: none;
    }
    #bouton-menu-user {
        width: 60px;
        height: 60px;
        right: 30px;
    }
    .bouton {
        left: 1.875em;
    }
    #user {
        width: 3.75em;
        right: 1.875em;
    }
    #cssmenu {
        background-color: #363636;
        height: 100%;
        width: 80%;
        padding-top: 0;
        -moz-box-shadow: inset -5px 0px 15px 0px #000000;
        -webkit-box-shadow: inset -5px 0px 15px 0px #000000;
        -o-box-shadow: inset -5px 0px 15px 0px #000000;
        box-shadow: inset -5px 0px 15px 0px #000000;
    }
    #cssmenu ul {
        padding: 0;
        padding-top: 2em;
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        color: #ffffff;
    }
    #cssmenu ul > li.has-sub > a:after {
        background: #ffffff;
    }
    #cssmenu ul > li.has-sub > a:before {
        background: #ffffff;
    }
    #accueil {
        background-image: url('../icons/accueil_blanc.svg');
    }
    #eval {
        background-image: url('../icons/eval_blanc.svg');
    }
    #form {
        background-image: url('../icons/form_blanc.svg');
    }
    #contrat {
        background-image: url('../icons/contrat_blanc.svg');
    }
    #fichiers {
        background-image: url('../icons/fichiers_blanc.svg');
    }
    #contacts {
        background-image: url('../icons/contacts_blanc.svg');
    }
    #breadcrumbs {
        display: none;
    }
    /*CONTENT*/
    main {
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    /*Bloc*/
    .conteneur {
        margin: 1.5em auto;
        width: 90%;
        min-height: 80%;
    }
    footer {
        display: none;
    }
}

#deconnexion-mobile {
    height: 100%;
    width: 80%;
    background-color: #363636;
    position: absolute;
    right: 0;
    top: 0;
    -moz-box-shadow: inset 5px 0px 15px 0px #000000;
    -webkit-box-shadow: inset 5px 0px 15px 0px #000000;
    -o-box-shadow: inset 5px 0px 15px 0px #000000;
    box-shadow: inset 5px 0px 15px 0px #000000;
}

#deconnexion-mobile p {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

#deconnexion-mobile ul {
    list-style-type: none;
    position: relative;
}

#deconnexion-mobile ul li {
    position: relative;
    margin-bottom: 0.5em;
}

#deconnexion-mobile ul li a {
    text-decoration: none;
    color: #ffffff;
}

#deconnexion-mobile ul li a img {
    width: 1em;
    height: 1em;
    margin-right: 1.25em;
}

#contenu-menu-user {
    height: 100%;
    margin: 0;
    overflow: auto;
}

.footer-menu {
    background-color: #f4f4f4;
    width: 100%;
    height: 120px;
    position: relative;
    -moz-box-shadow: 0px -5px 15px 0px #000000;
    -webkit-box-shadow: 0px -5px 15px 0px #000;
    -o-box-shadow: 0px -5px 15px 0px #000;
    box-shadow: 0px -5px 15px 0px #000000;
}

#content-footer-menu {
    height: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#content-footer-menu ul {
    padding: 0.25em 0;
    margin: 0;
    bottom: 0;
}

#content-footer-menu ul li {
    text-align: center;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

#content-footer-menu ul li a {
    color: #363636;
    text-decoration: none;
}

#content-footer-menu ul.img-footer-menu {
    margin-left: 1em;
    margin-top: 0;
}

#content-footer-menu ul.img-footer-menu li img {
    width: 3.5em;
}

.img-footer-menu li {
    display: inline-block;
}


/*@media screen and (orientation:landscape) and (max-width:999px){

.footer-menu{
background-color: #f4f4f4;
width: 100%;
height:60px;
position:relative;
-moz-box-shadow: 0px -5px 15px 0px #000000;
-webkit-box-shadow: 0px -5px 15px 0px #000;
-o-box-shadow: 0px -5px 15px 0px #000;
box-shadow: 0px -5px 15px 0px #000000;
}

#content-footer-menu{
height:100%;
display: block;
margin: 0 auto;
text-align:center;
}

#content-footer-menu ul{
display: inline-block;
padding:0;
margin-bottom:0;
}
#content-footer-menu ul li{
text-align: right;
margin-bottom: 0.1em;
margin-top: 0.1em;
}
#content-footer-menu ul li a{
color:#363636;
text-decoration: none;
}

#content-footer-menu ul.img-footer-menu{
margin-left:1em;
margin-top:0;
}
#content-footer-menu ul.img-footer-menu li img{
width:3.5em;
}

.img-footer-menu li{
display: inline-block;
}

}*/
