/* style de base de toute les balises */
*{

}

body {
	text-align: center;

}
/* toute la page */ 
#page {



}

pre{

}

ul
{

}

a{

}

a:visited{

}

a:hover{

}

img{
}


input, select, textarea {
}

textarea{
}

table{
}

#tab td{
}

tr.impair td {
}

th{
}


tr.pair td {
}

tr.impair *{
}

td{
}

td[colspan]{
}



select {
}


.obligatoire{
}
/* fin style de base de toute les balises */


/* Style de element de la barre de menu*/
#barre_menu{
}


#nom_user{
}

#menu{
}


#menu li{
}



/* fin */ 

/*style du div encadrant la page incluse*/
#contenue{
text-align : center;
}


/*fin */




/* page incluse  */






/* page profil */

#contenue>div{
}

#bandeau-gauche{
}


#bandeau-gauche #titre-bandeau-gauche{
}

#bandeau-gauche ul{
}

#bandeau-gauche li{
}



#affichage{
}

#affichage table{
}

.information{
}

.information img{
}

.information p{
}

#affichage table{
}

#affichage h1{
}

.information p.nom{
}

.tab-projet td{
}

.tab-projet tr th{
}




#affichage form{
}


/*fin page profil*/



/*page compte rendu*/

table#large td{
}

table#large th{
}


table#large .date { 
}

.observation{
}

td.observation {
}

table.lien td{
}

/*fin page compte rendu*/


/*page evaluation*/

#criteres>div {
}


#criteres hr{
}

#criteres>div  div{
}

#criteres div.nom{
}

#criteres div.note-0{
}

#criteres div.note-1{
}

#criteres div.note-2{
}

#criteres div.note-3{
}

#criteres div.note-4{
}

#criteres div.note-5{
}

#criteres .desc{
}


/*fin page evaluation*/



/*fin page incluse*/































#logo{
	width: 100%;
	border-top: 1px solid #9BC710;
	border-bottom: 1px solid #9BC710;
	border-left: 30px solid #9BC710;
border-right : 1px solid #9BC710;
	height: 80px;
	background-position: right;
	background-image: url(logoue.jpg);
	background-repeat: no-repeat;
	margin-bottom:5px;
	margin-right: 20px;
margin-left : -15px;
}


#logo h1{
	color: #9BC710;
	margin-bottom: 5px;
	margin-top: 20px;
	margin-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size : 20px ;
	font-weight :bold;
}

.copyright {
	width: 100%;
	border-top: 1px solid #9BC710;
	border-bottom: 1px solid #9BC710;
	border-left: 30px solid #9BC710;
	border-right : 1px solid #9BC710;
 margin-top: 20px;
	margin-left : -15px;
	margin-bottom : 5px;
	position : Relative;
	bottom : 0px;
	clear: both;
	
}


.copyright>p{
       
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;	
	font-style: italic;
	color: #000000;
}
