/* style de base de toute les balises */
*{
font-family: Arial;
	font-size :12px;
/*font-weight : bold;*/
	text-align: left ;
}

body {
	background-color: #ffffff; /* vert #9BC710   jaune #FFD700   bleu #4682B4 */ 
	text-align: left !important;
}

/* toute la page */ 
#page {
width :960px;
 margin : auto;
}

pre{
margin :0;
padding :0;
}

ul
{
list-style : none;

}

a{
font-size :13px;
	color : #114477;
	text-decoration : none;
font-weight : bold;
}

a:visited{
	/*color : #555555;*/
}

a:hover{
text-decoration : underline;

}

img{
	border : none;
}


input,  textarea {
	font-size : 12px;
border: 1px solid #79a500   ;
padding : 0 5px 0 5px;
color : #555555;

}

textarea{

width : 100%;
}

table{
border-collapse : collapse;

}

#tab td{
padding: 5px;

}

tr.impair td {
background-color : #F0FFB7;

}

th{
font-style : italic;
text-decoration : underline;
padding-left : 10px;
}


tr.pair td {

}

tr.impair *{
}

td{
vertical-align : top}

td[colspan]{
  text-align : center;
}



select {
	margin-left : 20px;
}


.obligatoire{
color : red;
font-size : 12px;
font-weight : normal;

}
/* fin style de base de toute les balises */


/* Style de element de la barre de menu*/
#barre_menu{
margin : 0 12px 0 12px;
}


#nom_user{
float : left;
font-weight : bold;
margin-top : 0px;
}

#menu
{
float : right;
margin-top : 0;
}


#menu li{
display : inline;
}

#spacer_bottom{
height :500px;
width : 10px;
}


/* fin */ 

/*style du div encadrant la page incluse*/
#contenue{
clear : both;
}


/*fin */




/* page incluse  */






/* page profil */

#contenue>div{



}

#bandeau-gauche{
  width :200px;
 float :left;




}


#bandeau-gauche #titre-bandeau-gauche{
text-align : right;
background-position: left top ;
background-image: url(images/image-titre-bandeau-gauche.png);
background-repeat: repeat-x;
/*background-color : white;*/
margin :0;
padding :10px 20 10px 0;
font-size : 25px;
font-weight : 900;
}

#bandeau-gauche ul{
 padding : 5px;
background-position: 100% 0px;
background-image: url(images/tiret.png);
background-repeat: repeat-y;
}

#bandeau-gauche li{
margin-bottom : 5px;
}



#affichage{

background-position: top;
background-image: url(images/barre_verte.png);
background-repeat: repeat-x;
padding-top : 15px;
width :760px;
float : right;
}

#affichage table{
margin :auto;
}

.information{
width : 450px;
margin : auto;
}

.information img{
float : left;
}

.information p{
float : right;
clear : right;
margin-top : 0;
text-align : right;
}

#affichage table{
width : 500px;
}


.information p.nom{
margin-right : 50px;
font-size : 2em;
}

.tab-projet td{
background-color :#F0FFB7;
}

.tab-projet tr th{
padding : 20px 0 5px 0;
}




#affichage form 
{
clear : both;
}


/*fin page profil*/



/*page compte rendu*/

table#large td{
background-color : #F0FFB7;

text-align : left;
padding: 0 20px 20px 20px;
}

table#large th{
padding-top : 20px;
}


table#large .date {
text-align : center;
font-size : 1.2em;
 
}

.observation{
width : 50%;
}

td.observation {
padding-left : 0px}

table.lien td{
width : 33%;
text-align : center;
}

/*fin page compte rendu*/


/*page evaluation*/
.criteres{
/*display : none;*/
}

.criteres>div {
clear : both;
width : 400px;
margin : auto;
padding : 5px 0 0 10px;
font-size : 1.2em;


}


.criteres hr{
clear : both;
background-position: bottom;
background-image: url(images/barre_verte_fine.png);
background-repeat: repeat-x;
height : 10px;
border : none;
}

.criteres>div div{
padding : 2px 10px 4px 10px;
border-bottom : 1px solid black;
float : left;
width : 150px;
height : 17px;

}

.criteres div.nom{
margin-left : 10px;
width : 180px;
clear : both;
}

.criteres div.nom-petit{

width : 178px;
}


.criteres .desc{
background-color : white;
border : none;
font-style : italic;
/*display : none;*/
padding-bottom : 20px;
width : 100%;
}

.criteres a {
font-size : 0.8em;
}

#comm{
clear : both;
padding-top : 20px;
text-align : center;
}

#comm table{
width : auto;
}

#comm table td{
padding : 0px 5px 0px 5px;
width : 254px;
text-align : justify;
}


#comm td+td{
border-left: 1px solid black;
}

#cat {
margin : 60px auto;
padding-bottom : 10px;
border-bottom : 1px solid black;
width : 500px;
}

#cat #moyennes div
{
display : inline;
border-bottom : 1px solid black;
padding : 0 3px;
}



#cat>a,#cat>span{
font-size : 1.2em;
float : left;
clear : left;
margin-right  : 300px;
}

#cat.entete{
font-weight : bold;
margin : auto;
}

#cat>span{
margin-right  : 235px;
}

#cat.entete #moyennes div{
border : none;
margin-left :6px;
font-weight : normal;


}

#stage > table {
width :90%;
}

#cat select{
margin : 0px;
padding :0px;
}
/*fin page evaluation*/



/*fin page incluse*/




#detail{
position : absolute;
border : 1px solid black;
background-color : white;
padding : 0 5px;
}


a.comm{
font-size : 13px;
font-weight : bold;
}

















#affichage h1{
font-size : 1.5em;
color : #112277;
text-align  : center;
}

#affichage h2{
font-size : 1.3em;
color : #112277;
text-align  : center;
}






#logo{
	width: 100%;
	border-top: 1px solid #9BC710;
	border-bottom: 1px solid #9BC710;
	border-left: 30px solid #9BC710;
border-right : 1px solid #9BC710;
	height: 80px;
	background-position: right;
	background-image: url(logoue.jpg);
	background-repeat: no-repeat;
	margin-bottom:5px;
	margin-right: 20px;
margin-left : -15px;
}


#logo img{
	color: #9BC710;
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size : 20px ;
	font-weight :bold;
}

.copyright {
	width: 100%;
	border-top: 1px solid #9BC710;
	border-bottom: 1px solid #9BC710;
	border-left: 30px solid #9BC710;
	border-right : 1px solid #9BC710;
 margin-top: 20px;
	margin-left : -15px;
	margin-bottom : 5px;
	position : Relative;
	bottom : 0px;
	clear: both;
	
}


.copyright>p{
       
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;	
	font-style: italic;
	color: #000000;
}
